In [1]:
import pandas as pd

In [2]:
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [3]:
tbl0

    _c0 _c1  _c2         _c3
0     0   E    1  1999-02-28
1     1   A    2  1999-10-28
2     2   B    5  1998-05-02
3     3   A    3  1999-08-28
4     4   C    6  1999-12-01
5     5   A    7  1998-07-28
6     6   A    9  1997-02-28
7     7   B    1  1999-05-10
8     8   E    2  1997-04-12
9     9   B    3  1999-11-23
10   10   C    7  1998-01-17
11   11   C    5  1998-12-28
12   12   D    3  1999-10-15
13   13   E    8  1998-11-01
14   14   B    9  1999-08-12
15   15   D    1  1997-12-01
16   16   E    3  1997-07-28
17   17   D    5  1998-08-12
18   18   E    8  1999-08-24
19   19   E    9  1998-01-23
20   20   E    7  1999-06-22
21   21   E    3  1999-04-24
22   22   D    5  1999-06-25
23   23   A    1  1999-08-25
24   24   E    4  1997-07-26
25   25   E    6  1997-09-24
26   26   A    8  1997-09-28
27   27   E    5  1999-06-22
28   28   A    6  1999-07-29
29   29   C    0  1999-08-22
30   30   A    1  1998-04-26
31   31   D    2  1998-02-24
32   32   E    5  1999-03-24
33   33   B    4  1998-03-23
34   34   B    6  1999-04-21
35   35   D    7  1999-02-29
36   36   B    8  1997-05-21
37   37   C    9  1997-07-22
38   38   E    1  1999-09-28
39   39   E    5  1998-01-26

In [4]:
def pregunta_01():
    """
    ¿Cuál es la cantidad de filas en la tabla `tbl0.tsv`?

    Rta/
    40

    """
    filas = tbl0.shape[0]
    
    return filas

In [5]:
print(pregunta_01())

40

In [6]:
def pregunta_02():
    """
    ¿Cuál es la cantidad de columnas en la tabla `tbl0.tsv`?

    Rta/
    4

    """
    columnas = tbl0.shape[1]
    return columnas

In [7]:
print(pregunta_02())

4

In [8]:
def pregunta_03():
    """
    ¿Cuál es la cantidad de registros por cada letra de la columna _c1 del archivo
    `tbl0.tsv`?

    Rta/
    A     8
    B     7
    C     5
    D     6
    E    14
    Name: _c1, dtype: int64

    """
    letras=tbl0['_c1'].value_counts().sort_index()
    return letras

In [9]:
print(pregunta_03())

A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [10]:
# ensayo 1 , NO ME DIO PORQUE LO HICE CON PYTHON NORMAL
letras=list(set(tbl0['_c1']))
letras.sort()
cuenta=[]
for letra in letras:
    cant=0
    for element in tbl0['_c1']:
        if element==letra:
            cant=cant+1
    tupla=(letra,cant)        
    cuenta=cuenta+[tupla]
cuenta

[('A', 8), ('B', 7), ('C', 5), ('D', 6), ('E', 14)]

In [11]:
# ensayo # 2
tbl0['_c1'].value_counts().sort_index()

A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [12]:
def pregunta_04():
    """
    Calcule el promedio de _c2 por cada letra de la _c1 del archivo `tbl0.tsv`.

    Rta/
    A    4.625000
    B    5.142857
    C    5.400000
    D    3.833333
    E    4.785714
    Name: _c2, dtype: float64
    """
    promedio=tbl0.groupby('_c1')['_c2'].mean()
    return promedio

In [13]:
print(pregunta_04())

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [14]:
promedio=tbl0.groupby('_c1')['_c2'].mean()
promedio

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [15]:
def pregunta_05():
    """
    Calcule el valor máximo de _c2 por cada letra en la columna _c1 del archivo
    `tbl0.tsv`.

    Rta/
    _c1
    A    9
    B    9
    C    9
    D    7
    E    9
    Name: _c2, dtype: int64
    """
    maxi=tbl0.groupby('_c1')['_c2'].max()
    return maxi

In [16]:
print(pregunta_05())

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [17]:
maxi=tbl0.groupby('_c1')['_c2'].max()
maxi

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [18]:
def pregunta_06():
    """
    Retorne una lista con los valores unicos de la columna _c4 de del archivo `tbl1.csv`
    en mayusculas y ordenados alfabéticamente.

    Rta/
    ['A', 'B', 'C', 'D', 'E', 'F', 'G']

    """
    valores=([ z.upper() for z in sorted(tbl1['_c4'].unique())])
    return valores

In [19]:
print(pregunta_06())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

ensayo 1 paila por marica
tabla1=tbl1.copy('_c4')
valores=(tabla1.drop_duplicates(subset = "_c4"))
valores['_c4']

In [20]:
valores=([ z.upper() for z in sorted(tbl1['_c4'].unique())])
valores

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [21]:
def pregunta_07():
    """
    Calcule la suma de la _c2 por cada letra de la _c1 del archivo `tbl0.tsv`.

    Rta/
    _c1
    A    37
    B    36
    C    27
    D    23
    E    67
    Name: _c2, dtype: int64
    """
    suma=tbl0.groupby('_c1')['_c2'].sum()
    return suma

In [22]:
print(pregunta_07())

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [23]:
suma=tbl0.groupby('_c1')['_c2'].sum()
suma

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [24]:
def pregunta_08():
    """
    Agregue una columna llamada `suma` con la suma de _c0 y _c2 al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  suma
    0     0   E    1  1999-02-28     1
    1     1   A    2  1999-10-28     3
    2     2   B    5  1998-05-02     7
    ...
    37   37   C    9  1997-07-22    46
    38   38   E    1  1999-09-28    39
    39   39   E    5  1998-01-26    44

    """
    suma=tbl0.assign(suma=tbl0['_c0'] + tbl0['_c2'])
    return suma

In [25]:
print(pregunta_08())

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28     1
1     1   A    2  1999-10-28     3
2     2   B    5  1998-05-02     7
3     3   A    3  1999-08-28     6
4     4   C    6  1999-12-01    10
5     5   A    7  1998-07-28    12
6     6   A    9  1997-02-28    15
7     7   B    1  1999-05-10     8
8     8   E    2  1997-04-12    10
9     9   B    3  1999-11-23    12
10   10   C    7  1998-01-17    17
11   11   C    5  1998-12-28    16
12   12   D    3  1999-10-15    15
13   13   E    8  1998-11-01    21
14   14   B    9  1999-08-12    23
15   15   D    1  1997-12-01    16
16   16   E    3  1997-07-28    19
17   17   D    5  1998-08-12    22
18   18   E    8  1999-08-24    26
19   19   E    9  1998-01-23    28
20   20   E    7  1999-06-22    27
21   21   E    3  1999-04-24    24
22   22   D    5  1999-06-25    27
23   23   A    1  1999-08-25    24
24   24   E    4  1997-07-26    28
25   25   E    6  1997-09-24    31
26   26   A    8  1997-09-28    34
27   27   E    5  1999-06-22    32
28   28   A    6  1999-07-29    34
29   29   C    0  1999-08-22    29
30   30   A    1  1998-04-26    31
31   31   D    2  1998-02-24    33
32   32   E    5  1999-03-24    37
33   33   B    4  1998-03-23    37
34   34   B    6  1999-04-21    40
35   35   D    7  1999-02-29    42
36   36   B    8  1997-05-21    44
37   37   C    9  1997-07-22    46
38   38   E    1  1999-09-28    39
39   39   E    5  1998-01-26    44

In [26]:
suma=tbl0.assign(suma=tbl0['_c0'] + tbl0['_c2'])
suma

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28     1
1     1   A    2  1999-10-28     3
2     2   B    5  1998-05-02     7
3     3   A    3  1999-08-28     6
4     4   C    6  1999-12-01    10
5     5   A    7  1998-07-28    12
6     6   A    9  1997-02-28    15
7     7   B    1  1999-05-10     8
8     8   E    2  1997-04-12    10
9     9   B    3  1999-11-23    12
10   10   C    7  1998-01-17    17
11   11   C    5  1998-12-28    16
12   12   D    3  1999-10-15    15
13   13   E    8  1998-11-01    21
14   14   B    9  1999-08-12    23
15   15   D    1  1997-12-01    16
16   16   E    3  1997-07-28    19
17   17   D    5  1998-08-12    22
18   18   E    8  1999-08-24    26
19   19   E    9  1998-01-23    28
20   20   E    7  1999-06-22    27
21   21   E    3  1999-04-24    24
22   22   D    5  1999-06-25    27
23   23   A    1  1999-08-25    24
24   24   E    4  1997-07-26    28
25   25   E    6  1997-09-24    31
26   26   A    8  1997-09-28    34
27   27   E    5  1999-06-22    32
28   28   A    6  1999-07-29    34
29   29   C    0  1999-08-22    29
30   30   A    1  1998-04-26    31
31   31   D    2  1998-02-24    33
32   32   E    5  1999-03-24    37
33   33   B    4  1998-03-23    37
34   34   B    6  1999-04-21    40
35   35   D    7  1999-02-29    42
36   36   B    8  1997-05-21    44
37   37   C    9  1997-07-22    46
38   38   E    1  1999-09-28    39
39   39   E    5  1998-01-26    44

In [37]:
def pregunta_09():
    """
    Agregue el año como una columna al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  year
    0     0   E    1  1999-02-28  1999
    1     1   A    2  1999-10-28  1999
    2     2   B    5  1998-05-02  1998
    ...
    37   37   C    9  1997-07-22  1997
    38   38   E    1  1999-09-28  1999
    39   39   E    5  1998-01-26  1998

    """
    años = ([z.split('-') for z in tbl0['_c3']])
    año=([x[0] for x in años])
    columnaño=tbl0.assign(year = año)
    return columnaño

In [38]:
print(pregunta_09())

    _c0 _c1  _c2         _c3  year
0     0   E    1  1999-02-28  1999
1     1   A    2  1999-10-28  1999
2     2   B    5  1998-05-02  1998
3     3   A    3  1999-08-28  1999
4     4   C    6  1999-12-01  1999
5     5   A    7  1998-07-28  1998
6     6   A    9  1997-02-28  1997
7     7   B    1  1999-05-10  1999
8     8   E    2  1997-04-12  1997
9     9   B    3  1999-11-23  1999
10   10   C    7  1998-01-17  1998
11   11   C    5  1998-12-28  1998
12   12   D    3  1999-10-15  1999
13   13   E    8  1998-11-01  1998
14   14   B    9  1999-08-12  1999
15   15   D    1  1997-12-01  1997
16   16   E    3  1997-07-28  1997
17   17   D    5  1998-08-12  1998
18   18   E    8  1999-08-24  1999
19   19   E    9  1998-01-23  1998
20   20   E    7  1999-06-22  1999
21   21   E    3  1999-04-24  1999
22   22   D    5  1999-06-25  1999
23   23   A    1  1999-08-25  1999
24   24   E    4  1997-07-26  1997
25   25   E    6  1997-09-24  1997
26   26   A    8  1997-09-28  1997
27   27   E    5  1999-06-22  1999
28   28   A    6  1999-07-29  1999
29   29   C    0  1999-08-22  1999
30   30   A    1  1998-04-26  1998
31   31   D    2  1998-02-24  1998
32   32   E    5  1999-03-24  1999
33   33   B    4  1998-03-23  1998
34   34   B    6  1999-04-21  1999
35   35   D    7  1999-02-29  1999
36   36   B    8  1997-05-21  1997
37   37   C    9  1997-07-22  1997
38   38   E    1  1999-09-28  1999
39   39   E    5  1998-01-26  1998

In [29]:
años = ([z.split('-') for z in tbl0['_c3']])
año=([x[0] for x in años])
año

['1999',
 '1999',
 '1998',
 '1999',
 '1999',
 '1998',
 '1997',
 '1999',
 '1997',
 '1999',
 '1998',
 '1998',
 '1999',
 '1998',
 '1999',
 '1997',
 '1997',
 '1998',
 '1999',
 '1998',
 '1999',
 '1999',
 '1999',
 '1999',
 '1997',
 '1997',
 '1997',
 '1999',
 '1999',
 '1999',
 '1998',
 '1998',
 '1999',
 '1998',
 '1999',
 '1999',
 '1997',
 '1997',
 '1999',
 '1998']

In [30]:
años=([z.split('-') for z in tbl0['_c3']])
año=([x[0] for x in años])
columnaño=tbl0.assign(año = año)
columnaño

    _c0 _c1  _c2         _c3   año
0     0   E    1  1999-02-28  1999
1     1   A    2  1999-10-28  1999
2     2   B    5  1998-05-02  1998
3     3   A    3  1999-08-28  1999
4     4   C    6  1999-12-01  1999
5     5   A    7  1998-07-28  1998
6     6   A    9  1997-02-28  1997
7     7   B    1  1999-05-10  1999
8     8   E    2  1997-04-12  1997
9     9   B    3  1999-11-23  1999
10   10   C    7  1998-01-17  1998
11   11   C    5  1998-12-28  1998
12   12   D    3  1999-10-15  1999
13   13   E    8  1998-11-01  1998
14   14   B    9  1999-08-12  1999
15   15   D    1  1997-12-01  1997
16   16   E    3  1997-07-28  1997
17   17   D    5  1998-08-12  1998
18   18   E    8  1999-08-24  1999
19   19   E    9  1998-01-23  1998
20   20   E    7  1999-06-22  1999
21   21   E    3  1999-04-24  1999
22   22   D    5  1999-06-25  1999
23   23   A    1  1999-08-25  1999
24   24   E    4  1997-07-26  1997
25   25   E    6  1997-09-24  1997
26   26   A    8  1997-09-28  1997
27   27   E    5  1999-06-22  1999
28   28   A    6  1999-07-29  1999
29   29   C    0  1999-08-22  1999
30   30   A    1  1998-04-26  1998
31   31   D    2  1998-02-24  1998
32   32   E    5  1999-03-24  1999
33   33   B    4  1998-03-23  1998
34   34   B    6  1999-04-21  1999
35   35   D    7  1999-02-29  1999
36   36   B    8  1997-05-21  1997
37   37   C    9  1997-07-22  1997
38   38   E    1  1999-09-28  1999
39   39   E    5  1998-01-26  1998

In [31]:
def pregunta_10():
    """
    Construya una tabla que contenga _c1 y una lista separada por ':' de los valores de
    la columna _c2 para el archivo `tbl0.tsv`.

    Rta/
                                   _c1
      _c0
    0   A              1:1:2:3:6:7:8:9
    1   B                1:3:4:5:6:8:9
    2   C                    0:5:6:7:9
    3   D                  1:2:3:5:5:7
    4   E  1:1:2:3:3:4:5:5:5:6:7:8:8:9
    """
    return

In [32]:
letras=list(set([z[0] for z in tbl0['_c1']]))
letras.sort()
numeros=tbl0['_c2']
df=pd.DataFrame({'_c1':letras})
df

  _c1
0   A
1   B
2   C
3   D
4   E

In [33]:
letras=list(set([z[0] for z in tbl0['_c1']]))
letras.sort()
numeros=tbl0['_c2']
cuenta=[]
for letra in letras:
    lista=[]
    for elemet in letra:
        if elemet == letra:
            lista.append(numeros)
    cuenta=letras+[lista]

In [34]:
# como hacer el dataframe
df=pd.DataFrame({'_c0':tbl0['_c1'],'_c1':tbl0['_c2'] })
#df

In [35]:
lista=pd.DataFrame({'_c0':tbl0['_c1'],'_c1':tbl0['_c2'] })

In [36]:
# intento 1
letras=list(set([z[0] for z in tbl0['_c1']]))
letras.sort()
numeros=tbl0['_c2']
lista=pd.DataFrame({'_c0':tbl0['_c1'],'_c1':tbl0['_c2'] })
cuenta=[]
for letra in letras:
    lista=[]
    for elemet in lista:
        if elemet[0] == letra:
            lista=lista+int(element[1])
    cuenta=letras+[lista]

df['_c2']=df['_c2'].astype('str')
df=df.groupby('_c1').agg(':'.join)[['_c2']]
df['lista']=df['_c2'].apply(lambda x: ':'.join((sorted(x.split(':')))))
df=df[['lista']].reset_index()
df.columns=['_c0','lista']
print(df)