In [1]:
import pandas as pd

In [2]:
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
tbl2

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [ ]:
def pregunta_01():
    """
    ¿Cuál es la cantidad de filas en la tabla `tbl0.tsv`?

    Rta/
    40

    """
    
    return